* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #020617;
    color: white;
    overflow-x: hidden;
}

/* BACKGROUND BINTANG */
.stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    background:
        radial-gradient(white 1px, transparent 1px),
        radial-gradient(white 1px, transparent 1px);

    background-size: 50px 50px, 100px 100px;
    background-position: 0 0, 50px 50px;

    opacity: .25;
}

/* NAVBAR */
.navbar {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;

    padding: 18px 7%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: rgba(0, 0, 0, .35);
    backdrop-filter: blur(10px);

    z-index: 999;
}

.logo-nav {
    display: flex;
    align-items: center;
    gap: 12px;

    color: #38bdf8;
}


.logo-nav h1 {
    font-size: 32px;
}

.logo-sekolah {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.navbar ul {
    display: flex;
    align-items: center;
    gap: 35px;
    list-style: none;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: .3s;
}

.navbar a:hover {
    color: #38bdf8;
}

/* HERO */
.hero {
    height: 100vh;

    background:
        linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .8)),
        url('foto_utama.jpeg');

    background-size: cover;
    background-position: center -1%;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    position: relative;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .2);
}

.hero-content {
    position: relative;
    z-index: 2;
    padding: 20px;
}

.hero-content h1 {
    font-size: 90px;
    color: #38bdf8;

    text-shadow:
        0 0 20px #38bdf8,
        0 0 40px #38bdf8;
}

.hero-content p {
    margin-top: 15px;
    font-size: 24px;
    color: #e2e8f0;
}

.hero-content button {
    margin-top: 30px;

    padding: 15px 40px;

    border: none;
    border-radius: 50px;

    background: #38bdf8;
    color: white;

    font-size: 18px;

    cursor: pointer;
    transition: .3s;
}

.hero-content button:hover {
    transform: scale(1.05);
    background: #0ea5e9;
}

/* GALLERY */
.gallery-section {
    padding: 100px 8%;
}

.gallery-section h2 {
    text-align: center;
    font-size: 45px;
    color: #38bdf8;
    margin-bottom: 50px;
}

.gallery {
    column-count: 3;
    column-gap: 20px;

    padding-top: 20px;
}
.card {
    position: relative;

    margin-bottom: 20px;

    overflow: hidden;

    border-radius: 25px;

    break-inside: avoid;

    cursor: pointer;

    box-shadow:
        0 10px 25px rgba(0, 0, 0, .5);
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;

    display: block;

    object-fit: cover;

    transition: .5s;
}

.card:hover img {

    transform: scale(1.05);

    filter:
        brightness(.45) grayscale(100%);
}

.text {
    position: absolute;
    bottom: 0;
    width: 100%;

    padding: 20px;

    background:
        linear-gradient(transparent, rgba(0, 0, 0, .9));
}

.big {
    grid-column: span 2;
    grid-row: span 2;
}

.wide {
    grid-column: span 2;
}

/* QUOTE */
.quote {
    padding: 100px 10%;
    text-align: center;
}

.quote p {
    font-size: 28px;
    line-height: 1.8;
    color: #e2e8f0;
}

/* VIDEO */
.video-section {
    padding: 100px 10%;
    text-align: center;
}

.video-section h2 {
    font-size: 40px;
    color: #38bdf8;
    margin-bottom: 30px;
}

.video-portrait {
    width: 320px;
    height: 570px;

    object-fit: cover;

    border-radius: 25px;

    box-shadow:
        0 10px 30px rgba(0, 0, 0, .5);
}

/* FOOTER */
footer {
    background: #000814;
    text-align: center;
    padding: 30px;
    color: #94a3b8;
}

/* MUSIC BUTTON */
.music-btn {
    position: fixed;

    right: 20px;
    bottom: 20px;

    width: 70px;
    height: 70px;

    background: #38bdf8;
}


/* RESPONSIVE */
@media(max-width:768px) {

    .navbar {
        padding: 15px 5%;
    }

    .logo-nav h1 {
        font-size: 24px;
    }

    .navbar ul {
        gap: 15px;
        overflow-x: auto;
        white-space: nowrap;
    }

    .navbar ul::-webkit-scrollbar {
        display: none;
    }

    .navbar a {
        font-size: 14px;
    }

    .hero {
        background-size: cover;
        background-position: center;
    }

    .hero-content h1 {
        font-size: 55px;
    }

    .hero-content p {
        font-size: 16px;
        line-height: 1.6;
    }

    .hero-content button {
        padding: 12px 30px;
        font-size: 16px;
    }

    .gallery {
    column-count: 1;
    }

    .big,
    .wide {
        grid-column: span 1;
        grid-row: span 1;
    }

    .card {
        height: 300px;
    }

    .quote p {
        font-size: 20px;
    }

    .video-portrait {
        width: 100%;
        height: auto;
    }

}
.quote {
    padding: 120px 10%;
    text-align: center;
}

.quote p {

    font-size: 24px;
    line-height: 2;

    color: #e2e8f0;

    max-width: 1000px;

    margin: auto;
}

/* SCROLL ANIMATION */

.hidden {
    opacity: 0;
    transform: translateY(50px);

    transition: 1s;
}

.show {
    opacity: 1;
    transform: translateY(0);
}
#typing-text::after {
    content: "|";
    animation: blink .7s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}